.title{
    text-align: center;
    margin-bottom: 100px;
}
.plus{
    margin: 0 auto 0 auto;
    width: 53%;
    color: grey;
    /*margin: auto;*/
    /*transform: translate(-10%);*/
}
.plus> svg:hover{
    color: #0d6dfb;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .plus{
        width: 53%;
    }
}